
 @media (max-width: 560px) {
    .hero::after {       
    height: 50vh;
}

.hero-content {
    top: 5%;
    margin-top: 5px;
}

.hero-content .logo {
    height: 140px;
    width: 140px;
}

.info div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
}

.retrato-animado {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-container-grid {
    grid-template-columns: 1fr;
}

.hero-content .text{
    display: none;
}

.footer .footer-1{
    width: 100%;
    grid-gap:30px;

}

}


@media (max-height: 500px) {

.hero-content {
    top: 0;
}

.hero-content .text{
    display: none;
}

.footer .footer-1{
    max-width: 560px;
    width: 100%;
    grid-gap:30px;
    padding: 15px 0px;
}
}
