body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HERO */

.hero::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    transition: all 1000ms;
}

.hero:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.hero:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.hero-content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.hero-content .logo {
    height: 180px;
    width: 180px;
}

.hero-content .title {
    font-size: 2.2rem;
    margin-top: 1rem;
}

.hero-content .text {
    line-height: 1.7;
    margin-top: 3rem;
}

/*  FIN HERO */


/*    CARD   */

#info {
    padding: 70px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;   
}

#info h2 {
    font-size: 32px;
    font-weight: 800;
}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.info-card {
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
}

.info-card img {
    width: 110px;
    border-radius: 5%;
}

.info-card h3 {
    font-weight: 600;
    font-size: 25px;
}

.info-card p {
    font-size: 20px;
    font-weight: 300;
 
}

/*   FIN CARD   */


/*   SOBRE MI   */

.about-container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.about-container-grid {  /*grid 2*/
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

.retrato-animado{
    width: 70%;   
}

.about{
    background: #f4f4f4;
    color: #333;
}

/*  FIN SOBRE MI  */  


/*     FOOTER     */  

.footer{
    width: 100%;
    background-color: #0a141d;
    
}
.footer .footer-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:200px;
    padding: 45px 0px;
}

.footer .footer-1 .box-left{
    margin-left: 15px;
}

.footer .footer-1 .box-left h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}
.footer .footer-1 .box-left p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .footer-1 .contact a{ 
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.footer .footer-1 .contact a:hover{
    color: aqua;
}
.footer .footer-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer .footer-2 small{
    font-size: 15px;
}

.footer .footer-2 a{
    color: #efefef;
}

 /*   FIN FOOTER   */  